@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-arimo: "Arimo", sans-serif;
  --color-primary: #111b3c;
  --color-borderColor: #2B7FFF20;
  --color-card-bg: #0f172b50;
}


.inset-shadow {
  background-image: url(./assets/images/bg-dots.png);
  box-shadow: inset 0 0 5px #d2eaff80,
    inset 0 0 10px #d2eaff80,
    inset 0 0 15px #d2eaff80,
    inset 0 0 20px #d2eaff80,
    0px 2px 3px #57b1ff1f,
    0px 5px 5px #57b1ff1f,
    0px 8px 8px #57b1ff1f,
    0px 10px 12px #57b1ff1f,
    0px 10px 20px #57b1ff1f,
    0px 12px 25px #57b1ff1f,
    0px 13px 50px #57b1ff1f,
    0px 30px 80px #57b1ff1f  
}